<html lang="es-ES">
<head>
    <meta charset="utf-8">
    <link href="/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="padding: 2rem; max-width: 1000px; margin: auto;">
    <div style="display: flex; flex-direction: column; gap: 2rem">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="admin">Administrador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users/logout">Logout</a>
            </li>
        </ul>

        <h3>Página de Administradores</h3>
        <div class="card">
            <div class="card-header">
                Usuarios registrados
            </div>
            <div class="card-body">
                <div id="usuarios">
                    <pre class="container"></pre>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    Sesiones creadas
                </div>
                <div class="card-body">
                    <div id="sesiones">
                        <pre class="container"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const usuarios = document.querySelector("#usuarios .container")
        fetch("users")
            .then(response => response.json())
            .then(data => usuarios.append(JSON.stringify(data, null, ' ')))

        const sesiones = document.querySelector("#sesiones .container")
        fetch("users/sessions")
            .then(response => response.json())
            .then(data => sesiones.append(JSON.stringify(data, null, ' ')))
    </script>
</body>
</html>